*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.nav-bar{
    background-color: rgb(196, 196, 197);

}

/* MAIN */

main{
    display: grid;
    grid-template-columns: repeat(2,5fr);
}

.containerCajas{
    overflow: hidden;
    height: 804px;
    width: 1000px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(196, 196, 197);
    width: 420px;
    height: 200px;
    border: 1px solid black;

}

.asid div{
    width: 100%;
    height: 268px;
}


/* FOOTER */

.foot {
    background-color: rgb(196, 196, 197);
    
}